---
import { SITE } from 'astrowind:config';
import logoWordmark from '~/assets/images/hta_logo.png';
---

<span class="flex items-center self-center whitespace-nowrap">
  <img
    src={logoWordmark.src}
    width={logoWordmark.width}
    height={logoWordmark.height}
    alt={SITE?.name ?? 'Heartland Transpersonal Alliance'}
    class="h-11 md:h-12 w-auto max-w-[78vw] object-contain drop-shadow-[0_8px_14px_rgba(12,16,30,0.12)]"
    loading="eager"
    decoding="async"
  />
</span>
