---
import { SITE } from 'astrowind:config';
---

<span class="flex items-center gap-2 self-center text-lg md:text-base font-semibold text-default whitespace-nowrap">
  <span class="h-2.5 w-2.5 rounded-full bg-primary inline-block" aria-hidden="true"></span>
  <span>{SITE?.name}</span>
</span>
