---
import { SITE } from 'astrowind:config';
import logoWordmark from '~/assets/images/hta_logo.png';
---

<span class="flex items-center self-center whitespace-nowrap">
  <img
    src={logoWordmark.src}
    width={logoWordmark.width}
    height={logoWordmark.height}
    alt={SITE?.name ?? 'Heartland Transpersonal Alliance'}
    class="h-12 md:h-14 w-auto max-w-[82vw] object-contain"
    loading="eager"
    decoding="async"
  />
</span>
