---
import { SITE } from 'astrowind:config';
import logoWordmark from '~/assets/images/hta_header.png';
---

<span class="flex items-center self-center whitespace-nowrap">
  <img
    src={logoWordmark.src}
    width={logoWordmark.width}
    height={logoWordmark.height}
    alt={SITE?.name ?? 'Heartland Transpersonal Alliance'}
    class="h-10 md:h-12 w-auto max-w-[78vw] object-contain"
    loading="eager"
    decoding="async"
  />
</span>
