---
import { twMerge } from 'tailwind-merge';

export interface Props {
  label?: string;
  class?: string;
}

const {
  label = 'Toggle Menu',
  class: className = 'border border-[var(--aw-border)] bg-white/75 dark:bg-slate-900/80',
} = Astro.props;

const baseClass =
  'group flex flex-col h-11 w-11 rounded-full justify-center items-center cursor-pointer text-slate-700 dark:text-slate-400';
---

<button type="button" class={twMerge(baseClass, className)} aria-label={label} data-aw-toggle-menu>
  <span class="sr-only">{label}</span>
  <slot>
    <span
      aria-hidden="true"
      class="h-0.5 w-5 my-1 rounded-full bg-current transition ease transform duration-200 opacity-85 group-[.expanded]:rotate-45 group-[.expanded]:translate-y-2.5"
    ></span>
    <span
      aria-hidden="true"
      class="h-0.5 w-5 my-1 rounded-full bg-current transition ease transform duration-200 opacity-85 group-[.expanded]:opacity-0"
    ></span>
    <span
      aria-hidden="true"
      class="h-0.5 w-5 my-1 rounded-full bg-current transition ease transform duration-200 opacity-85 group-[.expanded]:-rotate-45 group-[.expanded]:-translate-y-2.5"
    ></span>
  </slot>
</button>
